html,
body {
  height: 100%;
  width: 100%;
}

.gosh {
  height: 0;
  overflow: hidden;
}

.showNext {
  animation: showNextAnimate 2s forwards;
}

.hideLast {
  animation: hideLastAnimate 2s forwards;
}

@keyframes showNextAnimate {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes hideLastAnimate {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/* Begin First Page*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

p.standardP {
  color: #fff;
  font-family: univers;
  font-size: 1.666rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 1;
  margin-top: 30px;
  text-align: center;s
}

.mainDiv {
  width: auto;
}

#choose {
  background-color: #00a3a1;
  padding: 0 25px 0 25px;
  font-family: KPMG Extralight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-chevron-right {
  /* -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -ms-transform: scale(4);
  position: relative;
  transform: scale(4);
  top: -10px;
  left: -15px; */
  display: none;
}



div.mainDiv p {
  word-wrap: break-word;
  line-height: 100%;
}

.consumers {
  position: relative;
  top: 118px;
  left: 177px;
  min-width: 386px;
  max-width: 367px;
}

@keyframes flickerBg {
  0% {
    background-color: #00a1a3;
  }

  50% {
    background-color: #6d2077;
  }

  100% {
    background-color: #00a1a3;
  }
}

.flickerBg {
  animation: flickerBg 0.9s linear 1s;
  transition: all 0.5s;
}

#ballon {
  position: relative;
  top: -354px;
  left: 82px;
  width: 100%;
  height: 100%;
}

#boyBallon {
  transform: translate(46px, 80px);
}

#womanBallon {
  transform: translate(-35px, 261px);
}

#kidBallon {
  transform: translate(469px, 229px) rotate(415deg);
}

#girlBallon {
  transform: translate(384px, 41px) rotate(415deg);
}

/*		@keyframes womanBallonPopUp{
			0%{
			transform: translate(125px,261px) scale(0.01);
			}
			
			80%{
			transform: translate(125px,261px) scale(0.01);
			}
			
			100%{
				transform: translate(-8px,164px);
			}
		}*/

#womanBallon {
  animation: womanBallonPopUp 1s ease-in 2s forwards;
}

br {
  line-height: 1.5;
}

#choose:hover {
  cursor: pointer;
}

/* End First Page*/

/*Begin Second Page*/

* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h3.mainTitle {
  color: #fff;
  font-family: KPMG Extralight;
  margin-top: 32px;
  margin-bottom: 2rem;
  font-size: 51px;
  font-weight: bolder;
  margin-left: 52px;
  
}

p.standardP {
  color: #fff;
  font-family: univers;
  font-size: 1.666rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 1;
  margin-top: 30px;
}

.mainDiv {
  width: auto;
}



ul {
  list-style-type: none;
}

label {
  width: 95.5%;
  height: 100%;
  padding: 0.85rem 1rem;
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 11px;
  margin-left: 9px;
  transition: all 0.4s;
  font-size: 1.6rem;
}

label:hover {
  background-color: white;
  color: #00338d;
  transition: all 0.5s;
}

input {
  display: none;
}

#chartdiv {
  width: 100%;
  height: 150px;
  font-size: 11px;
}

a {
  display: none !important;
}

#chartdiv {
  display: none;
}

.labelSelected {
  background-color: #fff;
  color: #00338d;
}

.labelUnselected {
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #fff;
}

/*End Second Page*/

/* Begin Third Page*/

* {

  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h3.mainTitle {
  color: #fff;
  font-family: KPMG Extralight;
  margin-top: 32px;
  margin-bottom: 2rem;
  font-size: 51px;
  font-weight: bolder;
  margin-left: 52px;
}

p.standardP {
  color: #fff;
  font-family: univers;
  font-size: 1.666rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 1;
  margin-top: 30px;
}

.mainDiv {
  width: auto;
}



ul {
  list-style-type: none;
}

label {
  width: 95.5%;
  height: 100%;

  padding: 0.85rem 1rem;
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 11px;
  margin-left: 9px;
  font-size: 1.6rem;
  transition: all 0.4s;
}

label:hover {
  background-color: white;
  color: #00338d;
  transition: all 0.5s;
}

input {
  display: none;
}

/* End Third Page */

/* Begin Fourth Page*/

* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h3.mainTitle {
  color: #fff;
  font-family: KPMG Extralight;
  margin-top: 32px;
  margin-bottom: 2rem;
  font-size: 51px;
  font-weight: bolder;
  margin-left: 52px;
}

p.standardP {
  color: #fff;
  font-family: univers;
  font-size: 1.666rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 1;
  margin-top: 30px;
}

.mainDiv {
  width: auto;
}



ul {
  list-style-type: none;
}

label {
  width: 95.5%;
  height: 100%;

  padding: 0.85rem 1rem;
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 11px;
  margin-left: 9px;
  transition: all 0.4s;
  font-size: 1.6rem;
}

label:hover {
  background-color: white;
  color: #00338d;
  transition: all 0.5s;
}

input {
  display: none;
}

/* End Fourth Page */

/* Begin Fifth Page*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

p.mainTitle {
  color: #fff;
  font-size: 115px;
  font-family: KPMG Extralight;
  margin-top: 5px;
  text-align: center;
}

p.standardP {
  color: #fff;
  font-family: univers;
  font-size: 1.666rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 1;
  margin-top: 30px;
}

.mainDiv {
  width: auto;
}


.fa-chevron-right {
  transform: scale(4);
  position: relative;
  top: -10px;
  left: -15px;
}

.clickmeP {
  color: white;
  font-size: 50px;


}

div#choose > p{
	margin-top: 0!important;
	margin-bottom: 0!important;
}

div.mainDiv p {
  word-wrap: break-word;
  line-height: 100%;
}

.consumers {
  position: relative;
  top: 218px;
  left: 143px;
  min-width: 386px;
  max-width: 367px;
}

@keyframes flickerBg {
  0% {
    background-color: #00a1a3;
  }

  50% {
    background-color: #6d2077;
  }

  100% {
    background-color: #00a1a3;
  }
}

.flickerBg {
  animation: flickerBg 0.9s linear 1s;
  transition: all 0.5s;
}

.padTop {
  padding-top: 150px;
}


.buttons {
  width: 4rem;
  height: 4rem;
  color: #000;
  border: 1px solid #fff;
  line-height: 1;
  z-index: 99;
  border-radius: 100%;
  background: #fff;
}
.lastRow {
  margin-top: 125px;
}

.triangleRight {
  transform: translate(91px, 89px) scale(0.4);
}

.triangleLeft {
  transform: translate(60px, 89px) scale(0.4);
}

/* End Fithf Page */

/* First Result */

.firstChartP {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: -9px;
  color: #fff;
}

#chartdiv {
  width: 100%;
  height: 500px;
  font-size: 11px;
  display: block !important;
  margin-top: -60px;
}

.svgCirc1Div {
  display: inline-block;
}

.barButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0;
  margin-bottom: 10px;
  text-align: center;
}

#barColor {
  width: 0px;
  height: 100%;
  display: inline-block;
}

.barFixBottom {
  animation: appear 1s 2s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#chartdiv2 {
  width: 500px;
  height: 400px;
  margin: auto;
}

#answer2 {
  width: 100%;
  height: 400px;
}

#choose,
.mainDiv,
.standardP {
  margin-left: 8%;
  margin-top: 7%;
}

#fourthPage {
}



.mainRow{
	height: 100vh;
}

.leftCol{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
  width: 0px;
  height: 15px;
  background-color: #00a3a1;
  display: inline-block;
  position: relative;
  top: 35%;
  left: 2px;
}

.button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  display: inline-block;
}

.container-fluid {
  position: relative;
}

#bar {
  display: inline-block;
  height: 25px;
  background: white;
  text-align: left;
}


g {
  opacity: 1 !important;
}

#choose{
	min-height: 120px;
}




@media screen and (max-width:570px) and (min-width: 400px) {
    p.mainTitle {
		font-size: 50px;	
	  }

	  #Layer_1{
		transform: translateY(-181px) scale(.5);
	  }

	  .leftCol{
		align-items: center;
	  }

	  #choose{
		min-height: 90px;
	  }
  }

  
@media screen and (max-width:633px) and (min-width: 571px) {
    p.mainTitle {
		font-size: 50px;	
	  }

	  #Layer_1 {
		transform: translateY(100px) scale(1.5);
	}
	  .leftCol{
		align-items: center;
	  }

	  #choose{
		min-height: 90px;
		max-height: 90px;
		width: 270px;
	  }

	  .clickmeP {
		
		font-size: 50px;
	  
	  
	  }
  }

  @media screen and (max-width:699px) and (min-width: 634px) {
    p.mainTitle {
		font-size: 50px;	
	  }

	  #Layer_1 {
		transform: translateY(100px) scale(1.5);
	}
	  .leftCol{
		align-items: center;
	  }

	  #choose{
		min-height: 90px;
		max-height: 90px;
		width: 270px;
	  }

	  .clickmeP {
		
		font-size: 50px;
	  
	  
	  }
  }


@media screen and (min-width: 700px) {
	p.mainTitle {
		font-size: 55px;
	  }
}

@media screen and (min-width: 900px) {
	p.mainTitle {
		font-size: 65px;
	  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  p.mainTitle {
    font-size: 95px;
  }
  #choose{
	position: relative;
    bottom: 10px;
  }
}

  
@media screen and (max-width:400px) and (max-width: 571px) {




    p.mainTitle {
		font-size: 50px;	
	  }

	 #Page4 #Layer_1 {
		transform: translateY(100px) scale(1.5);
	}
	  .leftCol{
		align-items: center;
	  }

	  #choose{
		min-height: 90px;
		max-height: 90px;
		width: 270px;
	  }

	  .clickmeP {
		
		font-size: 50px;
	  
	  
	  }
  }